@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.head {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Это поможет центровать элемент .head */
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.fristBlock{
    margin-top: 2%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2%;
}
.helloText{
    font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}